* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vmin;

  background-image: url(https://i.pinimg.com/736x/ed/a8/19/eda819a7a40d7fb7967a019a7afa64e9.jpg);
  background-position: center;

  color: rgb(255, 255, 255);
  font-size: 6vmin;
  font-family: 'Handjet', cursive;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-image: url(https://wallpaper-house.com/data/out/9/wallpaper2you_302840.jpg);
  cursor: default;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 3vmin;
  /* padding: 0; */
}

#letters {
  display: grid;
  grid-template-columns: repeat(6, 8vmin);
  grid-template-rows: repeat(5, 8vmin);
  gap: 1vmin;
}

.alpha {
  background-color: rgb(199, 199, 255);
  border: 0.5vmin solid black;
  border-radius: 1vmin;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3vmin;
  font-weight: 900;
}

.alpha:hover {
  cursor: pointer;
}

#play-again {
height: 10vmin;
border: 0.5vmin rgb(245, 245, 245) solid;
border-radius: 10vmin;

font-size: 3vmin;
font-weight: 900;
color: rgb(131, 255, 134);
background-color: rgb(0, 0, 0);
}

#play-again:hover{
  background-color: rgb(227, 227, 227);
  border: 0.5vmin rgb(131, 255, 134) solid;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#subhead {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 10vmin;
  margin: 0;

  background-color: rgb(192, 192, 192);
  color: rgb(0, 0, 0);
}

#displayGuesses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vmin;

  font-size: 4vmin;
  font-weight: 900;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(51, 139, 0);
}

#word-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  white-space: pre;

  letter-spacing: 3vmin;
  margin: 0 50px;
  font-size: 6vmin;
  font-weight: 900;
  -webkit-text-stroke-width: 0.1vmin;
    -webkit-text-stroke-color: rgb(179, 0, 98);
    
}

img {
  height: 35vmin;
  margin: 10vmin;

  animation: shake 2.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

footer {
  color: white;
}

#letter-Y {
  grid-column: 3;
}