* {
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vmin;

  background-image: url(https://i.pinimg.com/736x/ed/a8/19/eda819a7a40d7fb7967a019a7afa64e9.jpg);
  background-position: center;

  color: rgb(255, 255, 255);
  font-size: 6vmin;
  font-family: 'Handjet', cursive;
}

body {
  height: 100vh; 
  margin: 0;
  font-family: 'Rubik', sans-serif;;
}

#spaceman-filmstrip {
  width: 504px; 
  height: 687px; 
  background-image: url(../imgs/spaceman-filmstrip.png);
  transform: scale(.5); 
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 6vmin 3vmin;
}

#letters {
  display: grid;
  grid-template-columns: repeat(6, 8vmin);
  grid-template-rows: repeat(5, 8vmin);
  gap: 1vmin;
}

.alpha {
  background-color: rgb(199, 199, 255);
  border: 0.5vmin solid black;
  border-radius: 1vmin;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3vmin;
  font-weight: 900;
}

#play-again {
height: 10vmin;
border: 0.5vmin rgb(15, 38, 95) solid;
border-radius: 10vmin;

font-size: 3vmin;
font-weight: 900;
color: rgb(15, 38, 95);
background-color: rgb(132, 178, 242);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#subhead {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 15vmin;
  margin: 0;

  background-color: rgb(32, 54, 133);
}

#displayGuesses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vmin;
}

#word-display {
  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: 3vmin;
  font-size: 6vmin;
}